<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--LLAMANDO AL HEAD DE PARTIALS-->
  <%- include('partials/head.html') %>
  <title><%= tittle %></title>
</head>


<body>
  <%- include('partials/navigation.html') %>

  <div class="container">
    <header class="row">
      <div class="col-lg-12 text-left">
        <img src="/img/pews-logo.png" alt="logo" class="animate__animated animate__flip">
        <p> GAAAAAAAAAAAA</p>
      </div>
    </header>
  </div>

  <div class="container-fluid" id="about">
    <div class="row bg-dark text-white p-5 text-center">

      <div class="col-sm-6">
        <i class="fab fa-youtube fa-10x"></i>
      </div>

      <div class="col-sm-6" id="about">
        <h3>PRUEBA</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Novoluptates ipsa laudantium debitis ab ratione
          deserunt excepturi, distinctio dolorem ipsam autem eum numquam illum voluptatibus, iure omnis ex! Repellendus,
          laborum?</p>
      </div>
    </div>

  </div>
    <%- include('partials/footer.html') %>

</body>

</html>